*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-background);
  background-color: rgba(235, 235, 235, 0.64);
  transition:xw
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Roboto,
    Oxygen,
    Ubuntu,
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 2rem 10rem 0 10rem;
  padding: 2rem;
}

.v-expansion-panel:not(:first-child)::after {
  border-top-style: none !important;

}

.v-expansion-panel__shadow {
  box-shadow: none !important;
}